body{
  	font-family:Helvetica;
  	}
text{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
	-webkit-user-select:none;user-select:none;
  	-webkit-tap-highlight-color:rgba(255,255,255,0);
  	-webkit-text-size-adjust: 100%;

}
 html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
p{max-height:9999999px;
-webkit-overflow-scrolling:touch; overflow-scrolling: touch;
}


*{
	list-style:none;
	font-size:12px;
	margin:0;
	padding:0;
	border:0;	
}
img{
	display:block;
}
a{
	text-decoration:none;
}
/*头部开始*/
header{
	width:100%;
	height:1.28rem;
	margin:0 auto;
	background:rgba(0,123,227,.5);
	border-top:0.01rem solid #31BAFF;
	position:fixed;
	top:0;
	left:0;
	/*position:relative;*/
	z-index: 10;
	display:flex;
	justify-content:space-between;
	
	
}
header a{
	display:block;
	width:20%;
	height:1.28rem;
	/*background:#007BE3;*/
	float:left;
	font-size:0.5rem;
	color:#fff;
	text-align:center;
	line-height:1.28rem;
}
/*头部结束*/
/*banner开始*/
.banner{
	width:100%;
	height:5.9rem;
	/*background:red;*/
	border-top:0.01rem solid #31BAFF;
	margin:0 auto;
	position:relative;
	top:0;;
	left:0;
	z-index: 5;
	/*margin-top:1.2rem;*/
}
.banner a{
	display:block;
	width:100%;
	height:5.9rem;
	/*height:6rem;*/
	position:absolute;
	top:0;
	left:0;
}
.banner a img{
	width:100%;
	/*height:6rem;*/
	position:absolute;
	top:0;
	left:0;
}

/*banner结束*/
/*content1开始*/
.content1{
	width:100%;
	height:10.85rem;
	margin-top:2.rem;
	background:#F7F7F7;
}
.content1 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content1 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content1 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content1 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content1 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content1 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content1 .box{
	width:100%;
	height:8.33rem;
	margin-top:0.48rem;
	text-align:center;
	background-image: url(../img/qz1back.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content1 .box p{
	font-size:0.34rem;
	line-height:0.6rem;
	color:#363536;
}
.content1 .box p span{
	font-size:0.34rem;
	color:#04B7FF;
	font-weight: bold;;
}
/*content1结束*/
/*content2开始*/
.content2{
	width:100%;
	height:9.83rem;
	background:#181C31;
	margin:0 auto;
	margin-top:-1.3rem;
}
.content2 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content2 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content2 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content2 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content2 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content2 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 ul{
	width:9.82rem;
	height:7.62rem;
	margin:0 auto;
	/*border:1px solid red;*/
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}
.content2 ul li{
	width:3.05rem;
	height:3.05rem;
/*	border:1px solid yellow;*/
}
.content2 ul li p:nth-child(1){
	font-size:0.4rem;
	color:#000;
	text-align:center;
	margin-top:0.75rem;
}
.content2 ul li p:nth-child(2){
	font-size:0.34rem;
	color:#000;
	text-align:center;
	margin-top:0.38rem;
}
.content2 ul li:nth-child(1){
	background-image: url(../img/qzfw1.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
.content2 ul li:nth-child(2){
	background-image: url(../img/qzfw2.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
.content2 ul li:nth-child(3){
	background-image: url(../img/qzfw3.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
.content2 ul li:nth-child(4){
	background-image: url(../img/qzfw4.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
.content2 ul li:nth-child(5){
	background-image: url(../img/qzfw5.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
.content2 ul li:nth-child(6){
	background-image: url(../img/qzfw6.png);
	background-position:center center;
	background-size:100%;
	background-repeat:no-repeat;
}
/*content2结束*/
/*content3开始*/
.content3{
	width:100%;
	height:12.53rem;
	margin:0 auto;
	background-image:url(../img/webkcback.png);
	background-position:center center;
	/*background-size:100%;*/
	background-repeat:repeat;
	
}
.content3 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content3 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content3 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content3 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content3 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content3 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content3 .qz{
	width:100%;
	height:10.34rem;
/*	border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
}
.content3 .qz .qz1{
	width:1.29rem;
	height:3.66rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw1.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:1.16rem;
	left:0;
}
.content3 .qz .qz2{
	width:2.5rem;
	height:2.5rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw3.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:0.43rem;
	left:5.2rem;
}
.content3 .qz .qz3{
	width:2.87rem;
	height:2.87rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw7.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:1.70rem;
	left:7.58rem;
}
.content3 .qz .qz4{
	width:3.67rem;
	height:3.67rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw2.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:2.60rem;
	left:2.8rem;
}
.content3 .qz .qz5{
	width:2.48rem;
	height:2.48rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw5.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:5.17rem;
	left:0.35rem;
}
.content3 .qz .qz6{
	width:2.6rem;
	height:2.6rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw6.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:7.1rem;
	left:4.44rem;
}
.content3 .qz .qz7{
	width:1.98rem;
	height:1.98rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw4.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:6.02rem;
	left:7.93rem;
}
.content3 .qz .qz8{
	width:0.79rem;
	height:3rem;
	/*border:1px solid red;*/
	background: url(../img/qzzw8.png) center center no-repeat;
	background-size:100%;
	position:absolute;
	top:4.43rem;
	left:9.98rem;
}
.content3 .qz .qz9{
	width:1.45rem;
	height:1.45rem;
	border-radius:50%;
	background:#FF7616;
	position:absolute;
	top:3.6rem;
	left:1.12rem;
}
.content3 .qz .qz10{
	width:1.54rem;
	height:1.54rem;
	border-radius:50%;
	background:#FFD906;
	position:absolute;
	top:7.92rem;
	left:1.11rem;
}
.content3 .qz .qz11{
	width:1.67rem;
	height:1.67rem;
	border-radius:50%;
	background:#FF7474;
	position:absolute;
	top:6.63rem;
	left:2.57rem;
}
.content3 .qz .qz12{
	width:1.3rem;
	height:1.3rem;
	border-radius:50%;
	background:#79E179;
	position:absolute;
	top:4.28rem;
	left:6.6rem;
}
.content3 .qz .qz13{
	width:1.58rem;
	height:1.58rem;
	border-radius:50%;
	background:#8366FF;
	position:absolute;
	top:5.6rem;
	left:6.3rem;
}
.content3 .qz .qz14{
	width:0.68rem;
	height:0.68rem;
	border-radius:50%;
	background:#FFD906;
	position:absolute;
	top:5.2rem;
	left:8.35rem;
}
/*content3结束*/
/*content4开始*/
.content4{
	width:100%;
	height:15.10rem;
	background:#181C31;
	margin:0 auto;
	margin-top:-1.3rem;
}
.content4 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content4 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content4 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content4 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content4 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content4 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content4 .box1{
	width:5.46rem;
	height:0.78rem;
	/*background:red;*/
	margin:0 auto;
	margin-top:0.9rem;
	text-align:center;
	font-size:0.34rem;
	color:#fff;
	
}
.content4 .box1 p{
	color:#00C29B;
	font-size:0.34rem;
}
.content4 .box1  .son1{
	width:3.62rem;
	height:0.18rem;
	margin:0 auto;
	border-bottom:1px solid #fff;
}
.content4 .box1  .son2{
	width:3.62rem;
	height:0.18rem;
	margin:0 auto;
	border-bottom:1px dashed #fff;
}
.content4 .box2{
	width:10.21rem;
	height:7.12rem;
	margin:0 auto;
	margin-top:1.06rem;
	/*border:1px solid red;*/
	background:url(../img/qzbili.png) center center no-repeat;
	background-size:100%;
}
.content4 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.9rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/qzanniu.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
/*content4结束*/
/*content5开始*/
.content5{
	width:100%;
	height:11.3rem;
	background:#F7F7F7;
	margin:0 auto;
	margin-top:-1.3rem;
}
.content5 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content5 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content5 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content5 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content5 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content5 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .box2{
	width:10.4rem;
	height:0.9rem;
	margin:0 auto;
	margin-top:0.6rem;
	border-radius:0.05rem ;
	border:1px solid #21C7A5;
	
}
.content5 .box2 .son:nth-child(1){
	width:2.0rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#21C7A5;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content5 .box2 .son:nth-child(2){
	width:2.7rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#21C7A5;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content5 .box2 .son:nth-child(3){
	width:5.7rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#21C7A5;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content5 ul{
	width:10.4rem;
	height:5.2rem;
	margin:0 auto;
	border:1px solid #21C7A5;
}
.content5 ul li{
	width:10.4rem;
	height:1.03rem;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#484848;
	line-height: 1.03rem;
}
.content5 ul li p{
	font-size:0.34rem;
}
.content5 ul li p:nth-child(1){
	width:2.0rem;
	height:1.03rem;
	float:left;
	/*margin-left:0.43rem;*/
	text-align:center;
	line-height:1.02rem;
}
.content5 ul li p:nth-child(2){
	width:2.7rem;
	height:1.02rem;
	color:#FF8E00;
	/*margin-left:1rem;
	margin-right:0.8rem;*/
	text-align:center;
	line-height:1.02rem;
	float:left;
}
.content5 ul li p:nth-child(3){
	width:5.7rem;
	height:1.02rem;
	float:left;
	text-align:center;
	line-height:1.02rem;
}
.content5 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.57rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/qzanniu.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
/*content5结束*/
/*content6开始*/
.content6{
	width:100%;
	height:20.5rem;
	background:#181C31;
	margin:0 auto;
	margin-top:-1.3rem;
}
.content6 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content6 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content6 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content6 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content6 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content6 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content6 .box{
	width:9.8rem;
	height:15.20rem;
/*	border:1px solid yellow;*/
	margin:0 auto;
	margin-top:0.82rem;
}
.content6 .box .left{
	float:left;
	width:1.2rem;
	height:17.20rem;
/*	border:1px solid green;*/
	margin:0 auto;
}
.content6 .box .left .zhuan1{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	overflow: hidden;
	position:relative;
	top:0;
	left:0;
}
.content6 .box .left .zhuan1 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}

.content6 .box .left .zhuan1 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan2{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
	margin-top:1.2rem;
}
.content6 .box .left .zhuan2 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan2 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan3{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
	margin-top:1.17rem;
}
.content6 .box .left .zhuan3 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan3 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan4{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
	margin-top:0.8rem;
}
.content6 .box .left .zhuan4 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan4 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan5{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
	margin-top:1.66rem;
}
.content6 .box .left .zhuan5 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan5 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan6{
	width:1.2rem;
	height:1.2rem;
	/*border:1px solid red;*/
	position:relative;
	top:0;
	left:0;
	margin-top:2.25rem;
}
.content6 .box .left .zhuan6 img:nth-child(1){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box .left .zhuan2 img:nth-child(2){
	position:absolute;
	top:0;
	left:0;
}
.content6 .box ul{
	float:left;
	width:8.45rem;
	height:15.20rem;
	/*border:1px solid red;*/
	margin:0 auto;
}
.content6 .box ul .part1{
	width:8.4rem;
	height:2.36rem;
	/*background:blue;*/
}
.content6 .box ul .part1 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #D69210;
	font-size:0.4rem;
	color:#D69210;
}
.content6 .box ul .part1 p:nth-child(2){
	width:8.3rem;
	height:1.40rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
.content6 .box ul .part2{
	width:8.4rem;
	height:2.36rem;
	/*background:blue;*/
}
.content6 .box ul .part2 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #DE514A;
	font-size:0.4rem;
	color:#DE514A;
}
.content6 .box ul .part2 p:nth-child(2){
	width:8.3rem;
	height:1.40rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
.content6 .box ul .part3{
	width:8.4rem;
	height:2.45rem;
	/*background:blue;*/
}
.content6 .box ul .part3 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #84BE7B;
	font-size:0.4rem;
	color:#84BE7B;
}
.content6 .box ul .part3 p:nth-child(2){
	width:8.3rem;
	height:1.90rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
.content6 .box ul .part4{
	width:8.4rem;
	height:2.45rem;
	/*background:blue;*/
}
.content6 .box ul .part4 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #18A6DE;
	font-size:0.4rem;
	color:#18A6DE;
}
.content6 .box ul .part4 p:nth-child(2){
	width:8.3rem;
	height:1.90rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
.content6 .box ul .part5{
	width:8.4rem;
	height:3rem;
	/*background:blue;*/
}
.content6 .box ul .part5 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #F7CF63;
	font-size:0.4rem;
	color:#F7CF63;
}
.content6 .box ul .part5 p:nth-child(2){
	width:8.3rem;
	height:2.45rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
.content6 .box ul .part6{
	width:8.4rem;
	height:3rem;
	/*background:blue;*/
}
.content6 .box ul .part6 p:nth-child(1){
	width:8.3rem;
	height:0.58rem;
	border-bottom:1px dashed #AD69AD;
	font-size:0.4rem;
	color:#AD69AD;
}
.content6 .box ul .part6 p:nth-child(2){
	width:8.3rem;
	height:2.45rem;
	margin-top:0.1rem;
	font-size:0.34rem;
	color:#fff;
}
/*content6结束*/
/*content7开始*/
.content7{
	width:100%;
	height:14.40rem;
	background:#F7F7F7;
	border-top:1px solid #F7F7F7;
}
.content7 .title11{
	width:100%;
	height:2.05rem;
/*	background:#fff;*/
	text-align: center;
	/*margin-top:-5rem;*/
	border-top:0.01rem solid #fff;
	overflow: hidden;
	color:#000;
	background-image:url(../img/qztitleback.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content7 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content7 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content7 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content7 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content7 .title11 .box{
	width:8rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/qztitleline.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7 .box1{
	width:100%;
	height:1.5rem;
	/*border:0.01rem solid red;*/
	margin-top:0.3rem;
	background:url(../img/qzyyk.png) center center no-repeat;
	background-size:100%;	
}
.content7 .box2{
	width:7.06rem;
	height:5.2rem;
	/*border:0.01rem solid red;*/
	margin-top:1.08rem;
	margin:0 auto;
	
	
}
.content7 .box2 .son{
	width:7.06rem;
	height:0.85rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.64rem;
}
.content7 .box2 .son p{
	font-size:0.4rem;
	float:left;
	margin-top:0.15rem;
}
.content7 .box2 .son .sun{
	float:left;
	width:5.8rem;
	height:0.85rem;
	margin-left:0.2rem;
	/*background:red;*/
	border-radius:12px;
	/*outline:none;*/
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7 .box2 .son .sun input{
	font-size:0.4rem;
	width:4.8rem;
	height:0.5rem;
	/*background:red;*/
	border-radius:12px;
	outline:none;
	margin-top:0.15rem;
	margin-left:0.64rem;
	/*background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;*/
}
.content7 .box2 .son:nth-child(4)  .sun{
	float:left;
	list-style: none;
	width:5.8rem;
	height:0.85rem;
	/*margin-left:0.64rem;*/
	/*background:red;*/
	border-radius:12px;
	outline:none;
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;
}	
.content7 .box2 .son:nth-child(4) p{
	/*display:block;*/
	float:left;
	margin-top:0.15rem;
	font-size:0.4rem;
}
	
.content7 .box2 .son:nth-child(4) .sun p{
	list-style: none;
	font-size:0.4rem;
	width:4.8rem;
	height:0.5rem;
	margin-top:0.15rem;
	margin-left:0.64rem;
	/*background:red;*/
	border-radius:12px;
	/*outline:none;
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;*/
}
.content7 .box2 .son:nth-child(4)  .sun select{
	width:4.8rem;
	height:0.5rem;
	font-size:0.4rem;
	background:#fff;
	border-radius:12px;
	outline:none;
	margin-top:0.15rem;
	margin-left:0.64rem;
}	
.content7 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.57rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/qzanniu.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7 .box3{
	width:100%;
	height:0.8rem;
	border 0.01rem solid red;
	margin:0 auto;
	margin-top:0.3rem;
	text-align: center;
	font-size:0.2rem;
	color:#ccc;
	margin-bottom:2rem;
	/*padding-bottom:1.3rem ;*/
}
.content7 .box3 p{
	font-size:0.2rem;
	color:#ccc;
}
	
.contenet7 .box3 p:nth-child(2){
	margin-top:0.2rem;
}
/*content7结束*/
/*底部开始*/
footer{
	width:100%;
	height:1.3rem;
	background:#E7E7E7;
	margin:0 auto;
	position:relative;
	position:fixed;
	bottom:0;	
}
footer .box1{
	width:30%;
	height:1.3rem;
	/*background:red;*/
	/*border:0.01rem solid red;*/
	text-align:center;
	float:left;
}
footer .box2{
	width:30%;
	height:1.3rem;
	/*border:red;*/
	/*border:0.01rem solid red;*/
	text-align:center;
	float:right;
}
footer .box1 .left1{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	margin-top:0.4rem;
	margin-left:0.35rem;
	background-image: url(../img/qq.png);
	background-position: 1rem 20.88rem;
	background-size:0.5rem;
}
footer .box1 p{
	font-size:0.33rem;
	/*font-weight:bold;*/
	color:#000;
	margin-top: 0.4rem;
	margin-left:0.35rem;
}
footer .box2 p{
	font-size:0.33rem;
	/*font-weight:bold;*/
	color:#000;
	margin-top: 0.4rem;
	margin-left:0.35rem;
}
footer .box2 .left2{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	margin-top:0.4rem;
	margin-left:0.35rem;
	background-image: url(../img/xinxi.png);
	background-position: 0 0;
	background-size:100%;
}

.phone{
	width:4.32rem;
	height:1.3rem;
	/*text-align: center;*/
	background:#FF8E10;
	border-radius:0.2rem;
	box-shadow:0.01rem 0.01rem 0.3rem 0.03rem #FF8E10;
	position:absolute;
	top:-0.2rem;
	left:3.2rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.phone .left{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	/*margin-top:0.4rem;
	margin-left:1rem;*/
	background-image: url(../img/dianhua.png);
	background-position: 0px 0px;
	background-size:100%;
}
.phone p{
	font-size:0.33rem;
	font-weight:bold;
	color:#fff;
	/*margin-top: 0.4rem;
	margin-left:0.16rem;*/
}
/*底部结束*/


.content6 .box>div>div>img:first-child{
	animation:zhuan 2s infinite linear;
}







@keyframes zhuan{
	from{
		transform:rotateZ(0);
	}
	to{
		transform:rotateZ(360deg);
	}
}