body{
  	font-family:Helvetica;
  	}
text{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-webkit-text-size-adjust:100%;
	-webkit-user-select:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);
	-webkit-user-select:none;user-select:none;
  	-webkit-tap-highlight-color:rgba(255,255,255,0);
  	-webkit-text-size-adjust: 100%;

}
 html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
p{max-height:9999999px;
-webkit-overflow-scrolling:touch; overflow-scrolling: touch;
}


*{
	list-style:none;
	font-size:12px;
	margin:0;
	padding:0;
	border:0;	
}
img{
	display:block;
}
a{
	text-decoration:none;
}
/*头部开始*/
header{
	width:100%;
	height:1.28rem;
	margin:0 auto;
	background:rgba(0,123,227,.5);
	border-top:1px solid #31BAFF;
	position:fixed;
	top:0;
	left:0;
	/*position:relative;*/
	z-index: 10;
	display:flex;
	justify-content:space-between;
	
	
}
header a{
	display:block;
	width:20%;
	height:1.28rem;
	/*background:#007BE3;*/
	float:left;
	font-size:0.5rem;
	color:#fff;
	text-align:center;
	line-height:1.28rem;
}
/*头部结束*/
/*banner开始*/
.banner{
	width:100%;
	height:5.9rem;
	/*background:red;*/
	border-top:1px solid #31BAFF;
	margin:0 auto;
	position:relative;
	top:0;;
	left:0;
	z-index: 5;
	/*margin-top:1.2rem;*/
}
.banner a{
	display:block;
	width:100%;
	height:5.9rem;
	/*height:6rem;*/
	position:absolute;
	top:0;
	left:0;
}
.banner a img{
	width:100%;
	/*height:6rem;*/
	position:absolute;
	top:0;
	left:0;
}

/*banner结束*/

/*content1开始*/
.content1{
	width:100%;
	height:10.50rem;
	background:#F5F6FA;
	margin:0 auto;
	padding-bottom:0.56rem;
}
.content1 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	margin-top:1.28rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content1 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content1 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content1 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content1 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content1 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content1 .box1{
	width:10.14rem;
	height:2.67rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.53rem;
	background-image: url(../img/web1back.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100%;
}
.content1 .box2{
	width:10.14rem;
	height:4.12rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.53rem;
	background-image: url(../img/web1backs.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100%;
}
.content1 .box1 .p1{
	width:8.87rem;
	height:0.6rem;
	margin-left:0.55rem;
	padding-top:0.35rem;
}
.content1 .box1 .p1 span:nth-child(1){
	font-size:0.58rem;
	color:#04C39A;
}
.content1 .box1 .p1 span:nth-child(2){
	font-size:0.42rem;
	color:#04C39A;
}
.content1 .box1 .p1 span:nth-child(3){
	font-size:0.42rem;
	color:#FF815C;
}
.content1 .box1 .p2{
	width:8.87rem;
	font-size:0.34rem;
	margin-left:0.55rem;
	margin-top:0.20rem;
	line-height:0.52rem;
}
.content1 .box2 .p1{
	margin-left:0.55rem;
	padding-top:0.35rem;
}
.content1 .box2 .p1 span:nth-child(1){
	font-size:0.58rem;
	color:#04C39A;
}
.content1 .box2 .p1 span:nth-child(2){
	font-size:0.42rem;
	color:#04C39A;
}
.content1 .box2 .p1 span:nth-child(3){
	font-size:0.42rem;
	color:#FF815C;
}
.content1 .box2 .p2{
	width:8.87rem;
	font-size:0.34rem;
	margin-left:0.55rem;
	margin-top:0.20rem;
	line-height:0.52rem;
}
/*content1结束*/
/*content2开始*/
.content2{
	width:100%;
	height:10.68rem;
	/*padding-bottom:0.5rem;*/
	background:#F7F7FF;
	margin:0 auto;
}
.content2 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content2 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content2 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content2 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content2 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content2 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box2{
	width:9.62rem;
	height:3.53rem;
	/*background:red;*/
	margin:0 auto;
	margin-top:0.52rem;
	display:flex;
	justify-content: space-between;
}
.content2 .box2 .son{
	width:3rem;
	height:3.53rem;
	/*background:green;*/
}
.content2 .box2 .son .top{
	width:3rem;
	height:1.44rem;
	/*background:yellow;*/
	font-size:0.36rem;
	font-weight:bold;
	line-height:1.4rem;
	color:#fff;
}
.content2 .box2 .son .top p{
	font-size:0.36rem;
	margin-left:1.14rem;
}
.content2 .box2 .son .bottom{
	width:2.96rem;
	height:1.98rem;
	border:1px dashed #F2A111;
	margin-top:0.1rem;
	font-size:0.3rem;
	color:#313531;
	text-align:center;	
}
.content2 .box2 .son .bottom p{
	font-size:0.3rem;
	font-size:0.3rem;
}
.content2 .box2 .son .bottom p:nth-child(1){
	margin-top:0.34rem;
}
.content2 .box2 .son:nth-child(1) .top{
	background-image:url(../img/fwtx1.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box2 .son:nth-child(2) .top{
	background-image:url(../img/fwtx2.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box2 .son:nth-child(3) .top{
	background-image:url(../img/fwtx3.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box3{
	width:9.62rem;
	height:3.53rem;
	/*background:red;*/
	margin:0 auto;
	margin-top:0.36rem;
	display:flex;
	justify-content: space-between;
}
.content2 .box3 .son                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 {
	width:3rem;
	height:3.53rem;
	/*background:green;*/
}
.content2 .box3 .son .top{
	width:3rem;
	height:1.44rem;
/*	background:yellow;*/
	font-size:0.36rem;
	font-weight:bold;
	line-height:1.4rem;
	color:#fff;
}
.content2 .box3 .son .top p{
	font-size:0.36rem;
	margin-left:1.14rem;
}
.content2 .box3 .son .bottom{
	width:2.96rem;
	height:1.98rem;
	border:1px dashed #F2A111;
	margin-top:0.1rem;
	font-size:0.3rem;
	color:#313531;
	text-align:center;	
}
.content2 .box3 .son .bottom p{
	font-size:0.3rem;
	font-size:0.3rem;
}
.content2 .box3 .son .bottom p:nth-child(1){
	margin-top:0.34rem;
}
.content2 .box3 .son:nth-child(1) .top{
	background-image:url(../img/fwtx4.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box3 .son:nth-child(2) .top{
	background-image:url(../img/fwtx5.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content2 .box3 .son:nth-child(3) .top{
	background-image:url(../img/fwtx6.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
/*content2结束*/
/*就业前景开始*/
.content3{
	width:100%;
	height:15.05rem;
	background:#181C31;
}
.content3 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content3 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content3 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content3 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content3 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content3 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content3 .box1{
	width:5.46rem;
	height:0.78rem;
	/*background:red;*/
	margin:0 auto;
	margin-top:0.9rem;
	text-align:center;
	font-size:0.34rem;
	color:#fff;
	
}
.content3 .box1 p{
	color:#00C29B;
	font-size:0.34rem;
}
.content3 .box1  .son1{
	width:3.62rem;
	height:0.18rem;
	margin:0 auto;
	border-bottom:1px solid #fff;
}
.content3 .box1  .son2{
	width:3.62rem;
	height:0.18rem;
	margin:0 auto;
	border-bottom:1px dashed #fff;
}
.content3 .box2{
	width:9.03rem;
	height:5.68rem;
	margin:0 auto;
	/*border:0.01rem solid red;*/
	background-image: url(../img/zhexiantu.png);
	background-position:-10px 5px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content3>p{
	margin:0 auto;
	margin-top:0.65rem;
	text-align:center;
	font-size:0.34rem;
	color:#fff;
}
.content3 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.9rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/btn.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
/*就业前景结束*/
/*优秀学员开始*/
.content4{
	width:100%;
	height:11.8rem;
	background:#F7F7FF;
	margin:0 auto;
	border-top:1px solid #F7F7FF;
}
.content4 .box1{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	margin-top:-0.5rem;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	/*background:red;*/
box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content4 .box1 p:nth-child(1){
	margin-top:0.5rem;
}
.content4 .box1 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content4 .box1 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
}
.content4 .box1 .son{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content4 .box2{
	width:10.4rem;
	height:0.9rem;
	margin:0 auto;
	margin-top:0.6rem;
	border-radius:0.05rem ;
	border:1px solid #108EEF;
	/*margin-top:0.05rem;*/
}
.content4 .box2 .son:nth-child(1){
	width:2.0rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#42AAFF;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content4 .box2 .son:nth-child(2){
	width:2.7rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#219EFF;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content4 .box2 .son:nth-child(3){
	width:5.7rem;
	height:0.9rem;
	border-radius:0.05rem ;
	background:#108EEF;
	float:left;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#fff;
	text-align: center;
	line-height: 0.9rem;
}
.content4 ul{
	width:10.4rem;
	height:5.2rem;
	margin:0 auto;
	border:1px solid #108EEF;
	/*margin-top:0.05rem;*/
}
.content4 ul li{
	width:10.4rem;
	height:1.03rem;
	font-size:0.34rem;
	/*font-weight:bold;*/
	color:#484848;
	line-height: 1.03rem;
}
.content4 ul li p{
	font-size:0.34rem;
}
.content4 ul li p:nth-child(1){
	width:2.0rem;
	height:1.03rem;
	float:left;
	/*margin-left:0.43rem;*/
	text-align:center;
	line-height:1.02rem;
}
.content4 ul li p:nth-child(2){
	width:2.7rem;
	height:1.02rem;
	color:#FF8E00;
	/*margin-left:1rem;
	margin-right:0.8rem;*/
	text-align:center;
	line-height:1.02rem;
	float:left;
}
.content4 ul li p:nth-child(3){
	width:5.7rem;
	height:1.02rem;
	float:left;
	text-align:center;
	line-height:1.02rem;
}
/*.content4 ul li:nth-child(5){
	width:5.7rem;
	height:1.00rem;
}*/
.content4 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.57rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/btn.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
/*优秀学员结束*/
/*课程规划开始*/
.content5{
	width:100%;
	height:20.80rem;
	background:#F3F2F8;
	margin:0 auto;
	background-image:url(../img/webkcback.png);
	background-position:0px 0px;
	background-repeat:repeat;
	/*background-size:contain;*/
	position:relative;
	top:0;
	left:0;
}
.content5 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content5 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content5 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content5 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content5 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content5 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .box1{
	width:0.05rem;
	height:18.80rem;
	background:#00AAFF;
	margin:0 auto;
}
.content5 .box2{
	width:4.4rem;
	height:0.87rem;
	background:#00AAFF;
	position:absolute;
	top:2.8rem;
	left:3.2rem;
}
.content5 .box2 p{
	width:4.23rem;
	height:0.7rem;
	font-size:0.46rem;
	border:1px dashed #fff;
	margin:0 auto;
	margin-top:0.05rem;
	color:#fff;
	text-align:center;
	line-height:0.7rem;
	
}
.content5 .box3{
	width:4.4rem;
	height:0.87rem;
	font-size:0.46rem;
	background:#00AAFF;
	position:absolute;
	top:19.18rem;
	left:3.2rem;
}
.content5 .box3 p{
	width:4.23rem;
	height:0.7rem;
	border:1px dashed #fff;
	margin:0 auto;
	color:#fff;
	margin-top:0.05rem;
	text-align:center;
	line-height:0.7rem;
	
}
.content5 ul{
	width:0.5rem;
	height:14.50rem;
	border 1px solid red;
	position:absolute;
	top:4.3rem;
	left:5.25rem;
}

.content5 ul li:nth-child(1){
	width:0.2rem;
	height:0.2rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
}
.content5 ul li:nth-child(2){
	width:0.2rem;
	height:0.2rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
	margin-top:0.8rem;
}
.content5 ul li:nth-child(3){
	width:0.2rem;
	height:0.26rem;
	background:#fff;
	border-radius:30%;
	border:1px solid #00AAFF;
	margin-top:0.09rem;
}
.content5 ul li:nth-child(4){
	width:0.2rem;
	height:0.2rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
	margin-top:2.82rem;
}
.content5 ul li:nth-child(5){
	width:0.2rem;
	height:0.26rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
	margin-top:0.1rem;
}
.content5 ul li:nth-child(6){
	width:0.2rem;
	height:0.2rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
	margin-top:0.18rem;
}
.content5 ul li:nth-child(7){
	width:0.2rem;
	height:0.26rem;
	background:#fff;
	border-radius:50%;
	border:1px solid #00AAFF;
	margin-top:4.26rem;
}
.content5 .left{
	width:4.75rem;
	height:12.30rem;
	/*border:1px solid red;*/
	position:absolute;
	top:4.77rem;
	left:0.45rem;
}
.content5 .left li:nth-child(1){
	width:4.75rem;
	height:3.3rem;
	/*background:red;*/
}
.content5 .left li:nth-child(1) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .left li:nth-child(1) .bottom{
	width:4.6rem;
	height:2.46rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;

}
.content5 .left li:nth-child(2){
	width:4.75rem;
	height:4.23rem;
	/*background:red;*/
	margin-top:0.5rem;
}
.content5 .left li:nth-child(2) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .left li:nth-child(2) .bottom{
	width:4.6rem;
	height:3.3rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;

}
.content5 .left li:nth-child(3){
	width:4.75rem;
	height:3.3rem;
	/*background:red;*/
	margin-top:0.5rem;
}
.content5 .left li:nth-child(3) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .left li:nth-child(3) .bottom{
	width:4.6rem;
	height:2.46rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;

}
.content5 .right{
	width:4.75rem;
	height:12.30rem;
	/*border:1px solid red;*/
	position:absolute;
	top:5.26rem;
	left:5.73rem;
}
.content5 .right li:nth-child(1){
	width:4.75rem;
	height:3.3rem;
	/*background:red;*/
}
.content5 .right li:nth-child(1) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back2.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .right li:nth-child(1) .bottom{
	width:4.6rem;
	height:2.46rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;
	margin-left:0.12rem;

}
.content5 .right li:nth-child(2){
	width:4.75rem;
	height:3.3rem;
	/*background:red;*/
	margin-top:0.5rem;
}
.content5 .right li:nth-child(2) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back2.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .right li:nth-child(2) .bottom{
	width:4.6rem;
	height:2.46rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;
	margin-left:0.12rem;

}
.content5 .right li:nth-child(3){
	width:4.75rem;
	height:5.26rem;
	/*background:red;*/
	margin-top:0.5rem;
}
.content5 .right li:nth-child(3) .top{
	width:4.75rem;
	height:0.84rem;
	/*background:blue;*/
	font-size:0.46rem;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:0.84rem;
	background-image:url(../img/web4back2.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content5 .right li:nth-child(3) .bottom{
	width:4.6rem;
	height:3.32rem;
	border:1px solid #00AAFF;
	/*background:green;*/
	font-size:0.34rem;
	color:#777C7E;
	line-height:0.54rem;
	padding-top:0.35rem;
	margin-left:0.12rem;

}
/*课程规划1结束*/
/*就业方向开始*/
.content6{
	width:100%;
	height:19rem;
	background:#181C31;
	margin:0 auto;
	position:relative;
	top:0;
	left:0;
}
.content6 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content6 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content6 .title11 p:nth-child(1){
	font-size:0.34rem;
}
.content6 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content6 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content6 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content6 .box1{
	width:10.08rem;
	height:6.63rem;
	border:1px solid #00C39C;
	position:absolute;
	top:8.87rem;
	left:0.33rem;
}
.content6 .box1 a{
	display:block;
	width:9.03rem;
	height:1.02rem;
	border-bottom:1px dashed #00C39C;
	margin:0 auto;
	font-size:0.34rem;
	color:#fff;
	text-align:center;
	line-height:1.02rem;
}
.content6 .box1 a:nth-child(1){
	margin-top:0.85rem;
}
.content6 .box2{
	width:4.4rem;
	height:0.87rem;
	background:#00C39C;
	position:absolute;
	top:8.5rem;
	left:3.25rem;
}
.content6 .box2 p{
	width:4.23rem;
	height:0.7rem;
	border:1px dashed #fff;
	margin:0 auto;
	margin-top:0.05rem;
	color:#181C31;
	text-align:center;
	line-height:0.7rem;
	
}
.content6 .box3{
	width:0.1rem;
	height:0.44rem;
	background:#00C39C;
	position:absolute;
	top:8.1rem;
	left:5.28rem;
}
.content6 .box4{
	width:2.7rem;
	height:2.7rem;
	border-radius:50%;
	border:2px solid #00C39C;
	position:absolute;
	top:5.3rem;
	left:3.9rem;
}
.content6 .box4 .son{
	width:2.2rem;
	height:2.2rem;
	border-radius:50%;
	border:2px dashed #00C39C;
	margin:0 auto;
	margin-top:0.23rem;
}
.content6 .li1{
	width:2.46rem;
	height:0.73rem;
	border-radius:12px;
	background:#00C298;
	font-size:0.34rem;
	color:#fff;
	text-align:center;
	line-height:0.73rem;
	position:absolute;
	top:3.05rem;
	left:2.04rem;
}
.content6 .li2{
	width:3.9rem;
	height:0.73rem;
	border-radius:912px;
	background:#FF7942;
	font-size:0.34rem;
	color:#fff;
	text-align:center;
	line-height:0.73rem;
	position:absolute;
	top:3.22rem;
	left:5rem;
}
.content6 .li3{
	width:3.9rem;
	height:0.73rem;
	border-radius:912px;
	background:#F7A210;
	font-size:0.34rem;
	color:#fff;
	text-align:center;
	line-height:0.73rem;
	position:absolute;
	top:4.68rem;
	left:0.37rem;
}
.content6 .li4{
	width:3.9rem;
	height:0.73rem;
	border-radius:912px;
	background:#00BAFF;
	font-size:0.34rem;
	color:#fff;
	text-align:center;
	line-height:0.73rem;
	position:absolute;
	top:4.72rem;
	left:6.55rem;
}
.content6 .box5{
	width:1.4rem;
	height:2.8rem;
	/*border:1px solid red;*/
	background-image: url(../img/xiaoren.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position: 0 0;
	position:absolute;
	top:4.35rem;
	left:4.65rem;
}
.content6 a img{
	width:2.5rem;
}
.content6 a{
	display:block;
	width:2.5rem;
	height:2.5rem;
	margin-top:13.5rem;
	margin-left:4.12rem;
}
/*就业方向结束*/
/*content7开始*/
.content7{
	width:100%;
	height:14rem;
	background:#F7F7FF;
	margin:0 auto;
	/*margin-bottom:1.3rem;*/
	/*padding-bottom:7rem;*/
}
.content7 .title11{
	width:100%;
	height:2.05rem;
	background:#fff;
	text-align: center;
	/*border-top:0.01rem solid red;*/
	overflow: hidden;
	color:#000;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.03rem rgba(0,0,0,0.3);
}
.content7 .title11 p:nth-child(1){
	margin-top:0.5rem;
}
.content7 .title11 p:nth-child(2){
	font-size:0.34rem;
}
.content7 .title11 p:nth-child(1)>span:nth-child(1){
	font-size:0.5rem;
	font-weight:bold;
}
.content7 .title11 p:nth-child(1)>span:nth-child(2){
	font-size:0.5rem;
	
}
.content7 .title11 .box{
	width:4.08rem;
	height:0.15rem;
	/*background:red;*/
	margin:0 auto;
	background-image:url(../img/ui1lines.png);
	background-position:0 1px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7>p{
	margin:0 auto;
	margin-left:2.3rem;
	font-size:0.34rem;
	margin-top:0.8rem;
	/*font-weight:bold;*/
	color:#000;
}
.content7 .box2{
	width:7.06rem;
	height:5.2rem;
	/*border:0.01rem solid red;*/
	margin-top:1.08rem;
	margin:0 auto;
	
	
}
.content7 .box2 .son{
	width:7.06rem;
	height:0.85rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.64rem;
}
.content7 .box2 .son p{
	font-size:0.4rem;
	float:left;
	margin-top:0.15rem;
}
.content7 .box2 .son .sun{
	float:left;
	width:5.8rem;
	height:0.85rem;
	margin-left:0.2rem;
	/*background:red;*/
	border-radius:12px;
	/*outline:none;*/
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7 .box2 .son .sun input{
	font-size:0.4rem;
	width:4.8rem;
	height:0.5rem;
	/*background:red;*/
	border-radius:12px;
	outline:none;
	margin-top:0.15rem;
	margin-left:0.64rem;
	/*background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;*/
}
.content7 .box2 .son:nth-child(4)  .sun{
	float:left;
	list-style: none;
	width:5.8rem;
	height:0.85rem;
	/*margin-left:0.64rem;*/
	/*background:red;*/
	border-radius:12px;
	outline:none;
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;
}	
.content7 .box2 .son:nth-child(4) p{
	/*display:block;*/
	float:left;
	margin-top:0.15rem;
	font-size:0.4rem;
}
	
.content7 .box2 .son:nth-child(4) .sun p{
	list-style: none;
	font-size:0.4rem;
	width:4.8rem;
	height:0.5rem;
	margin-top:0.15rem;
	margin-left:0.64rem;
	/*background:red;*/
	border-radius:12px;
	/*outline:none;
	background-image: url(../img/input.png);
	background-position:0px 1.5px;
	background-repeat:no-repeat;
	background-size:100%;*/
}
.content7 .box2 .son:nth-child(4)  .sun select{
	width:4.8rem;
	height:0.5rem;
	font-size:0.4rem;
	background:#fff;
	border-radius:12px;
	outline:none;
	margin-top:0.15rem;
	margin-left:0.64rem;
}	
.content7 .more{
	display:block;
	width:4.32rem;
	height:1.18rem;
	/*border:0.01rem solid red;*/
	margin:0 auto;
	margin-top:0.57rem;
	text-align:center;
	line-height:1.18rem;
	font-size:0.4rem;
	color:#fff;
	background-image:url(../img/btn.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:100%;
}
.content7 .box3{
	width:100%;
	height:0.8rem;
	border 0.01rem solid red;
	margin:0 auto;
	margin-top:0.3rem;
	text-align: center;
	font-size:0.2rem;
	color:#ccc;
	margin-bottom:2rem;
	/*padding-bottom:1.3rem ;*/
}
.content7 .box3 p{
	font-size:0.2rem;
	color:#ccc;
}
	
.contenet7 .box3 p:nth-child(2){
	margin-top:0.2rem;
}
/*content7结束*/
/*底部开始*/
footer{
	width:100%;
	height:1.3rem;
	background:#E7E7E7;
	margin:0 auto;
	position:relative;
	position:fixed;
	bottom:0;	
}
footer .box1{
	width:30%;
	height:1.3rem;
	/*background:red;*/
	/*border:0.01rem solid red;*/
	text-align:center;
	float:left;
}
footer .box2{
	width:30%;
	height:1.3rem;
	/*border:red;*/
	/*border:0.01rem solid red;*/
	text-align:center;
	float:right;
}
footer .box1 .left1{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	margin-top:0.4rem;
	margin-left:0.35rem;
	background-image: url(../img/qq.png);
	background-position: 1rem 20.88rem;
	background-size:0.5rem;
}
footer .box1 p{
	font-size:0.33rem;
	/*font-weight:bold;*/
	color:#000;
	margin-top: 0.4rem;
	margin-left:0.35rem;
}
footer .box2 p{
	font-size:0.33rem;
	/*font-weight:bold;*/
	color:#000;
	margin-top: 0.4rem;
	margin-left:0.35rem;
}
footer .box2 .left2{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	margin-top:0.4rem;
	margin-left:0.35rem;
	background-image: url(../img/xinxi.png);
	background-position: 0 0;
	background-size:100%;
}

.phone{
	width:4.32rem;
	height:1.3rem;
	/*text-align: center;*/
	background:#FF8E10;
	border-radius:0.2rem;
	box-shadow:0.01rem 0.01rem 0.3rem 0.03rem #FF8E10;
	position:absolute;
	top:-0.2rem;
	left:3.2rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.phone .left{
	width:0.45rem;
	height:0.45rem;
	/*border:0.01rem solid blue;*/
	float:left;
	/*margin-top:0.4rem;
	margin-left:1rem;*/
	background-image: url(../img/dianhua.png);
	background-position: 0px 0px;
	background-size:100%;
}
.phone p{
	font-size:0.33rem;
	font-weight:bold;
	color:#fff;
	/*margin-top: 0.4rem;
	margin-left:0.16rem;*/
}
/*底部结束*/